@import url(fonts/thsarabunnew.css);

body {
    font-family: 'THSarabunNew', sans-serif;
}

.header {
    margin: 0px;
    text-align: center;
    background: #5EB95E;
    color: white;
}

.pure-g [class*="pure-u"] {
    font-family: 'THSarabunNew', sans-serif;
}

.header h1 {
    margin: 0px;
}

.form-body {
}

.button-large {
    font-size: 110%;
}