body {
}

.header {
    margin: 0px;
    text-align: center;
    background: #5EB95E;
    color: white;
}

.header h1 {
    margin: 0px;
}

.header h2 {
    border-bottom: 1px solid gray;
}

.form-body {
}

.button-large {
    font-size: 110%;
}